<nav class="navbar navbar-expand-lg bg-body-tertiary" id="navBar">
  <div class="container-fluid">
    <ng-container *ngIf="!authService.loggedIn(); else loggeado">
      <a routerLink="/homeUsuarioNoRegistrado"><img src="../assets/img/logo_digi-plans_texto-removebg-preview.png"
          id="logoTexto" alt="Logo DDigi-plans texto"></a>
    </ng-container>
    <ng-template #loggeado>
      <a routerLink="/home"><img src="../assets/img/logo_digi-plans_texto-removebg-preview.png" id="logoTexto"
          alt="Logo DDigi-plans texto"></a>
    </ng-template>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="d-flex justify-content-end">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <ng-container *ngIf="!authService.loggedIn() && !authService.loggedInSession(); else loggedIn">
            <li class="nav-item" id="apartadosNav">
              <a class="nav-link" routerLink="/signin" routerLinkActive="active">INICIAR SESIÓN</a>
            </li>
            <li class="nav-item" id="apartadosNav">
              <a class="nav-link" routerLink="/signup" routerLinkActive="active">REGISTRARSE</a>
            </li>
          </ng-container>
          <ng-template #loggedIn>
            <ng-container *ngIf="esAdmin">
              <li class="nav-item" id="apartadosNav">
                <a class="nav-link" href="http://localhost:4000/admin" target="_blank" routerLinkActive="active">ADMINISTRADOR</a>
              </li>
            </ng-container>
            <li class="nav-item" id="apartadosNav">
              <a class="nav-link" (click)="authService.logOut()" routerLinkActive="active">CERRAR SESIÓN</a>
            </li>
          </ng-template>
        </ul>
      </div>
    </div>
  </div>
</nav>
