#noMiembro {
    color: blue;
}

#logearse {
    background-color: #333333;
    color: white;
}

#formulario {
    margin: 4%;
    width: 60%;
}

label {
    color: #FFFFFF;
}

p {
    color: #FFFFFF;
}

.errorValidacion {
    color: #dc3545;
}