<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="container-fluid">
        <div class="row p-5">
          <div class="col-12">
            <div class="flex-shrink-0 p-3" id="estiloSideBar">
              <div>
                <ul class="list-unstyled ps-0">
                  <li class="mb-1">
                    <div id="eventos">
                      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 p-3"
                        id="misEventosEeventos" data-bs-toggle="collapse" data-bs-target="#home-collapse"
                        aria-expanded="true">Eventos</button>
                    </div>
                    <div class="collapse show" id="home-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small m-3">
                        <li class="mb-1">
                          <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                            (click)="obtenerEventos()">
                            Todos los eventos existentes
                          </button>
                          <br>
                          <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                            data-bs-toggle="collapse" data-bs-target="#categoria-collapse" aria-expanded="true">
                            Categorías
                          </button>
                          <div class="collapse show" id="categoria-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small m-3">
                              <li class="m-2"><a class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                                  id="categorias" (click)="filtrarEventoPorCategoria('Fiesta')">Fiesta</a>
                              </li>
                              <li class="m-2"><a class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                                  id="categorias" (click)="filtrarEventoPorCategoria('Evento Deportivo')">Eventos
                                  Deportivos</a>
                              </li>
                              <li class="m-2"><a class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                                  id="categorias" (click)="filtrarEventoPorCategoria('Ocio')">Ocio</a>
                              </li>
                              <li class="m-2"><a class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                                  id="categorias" (click)="filtrarEventoPorCategoria('Comida')">Comida</a>
                              </li>
                              <li class="m-2"><a class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                                  id="categorias" (click)="filtrarEventoPorCategoria('Cultura')">Eventos de cultura</a>
                              </li>
                              <li class="m-2"><a class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                                  id="categorias" (click)="filtrarEventoPorCategoria('Viajes')">Viajes</a>
                              </li>
                              <li class="m-2"><a class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                                  id="categorias" (click)="filtrarEventoPorCategoria('Celebraciones')">Celebraciones</a>
                              </li>
                            </ul>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
              <div>
                <ul class="list-unstyled ps-0">
                  <li class="mb-1">
                    <div id="eventos">
                      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 p-3"
                        id="misEventosEeventos" data-bs-toggle="collapse" data-bs-target="#homeMisEventos-collapse"
                        aria-expanded="true">Mis Eventos</button>
                    </div>
                    <div class="collapse show" id="homeMisEventos-collapse">

                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small m-3">
                        <li class="mb-1">
                          <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0" (click)="mostrarEventosCreadosPorUsuario()">Todos mis
                            eventos</button>
                          <br>
                          <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0" (click)="obtenerEventosInscritos()">Eventos en
                            los que estoy inscrito</button>
                          <br>
                          <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                            routerLink="/crear-eventos">Crear Eventos</button>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="container-fluid">
        <div class="row pt-5">
          <div class="col-12">
            <div class="row d-flex justify-content-center">
              <div class="col-10">
                <div class="row">
                  <div *ngIf="listaEventosInscritos.length === 0 && eventosCreados.length === 0 && listaEventosFiltrada.length === 0 && mostrarDiv">
                    <h3>No hay eventos existentes aún sobre la categoría seleccionada.</h3>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4" *ngFor="let evento of eventosPaginaActual" id="eventoCard">                    
                    <div class="card text-center" id="imagenCine">
                      <div class="card-header">
                        <h3>{{evento.categoria}}</h3>
                      </div>
                      <div class="card-body">
                        <h4 class="card-title text-start">{{evento.titulo}}</h4>
                        <button class="btn btn-primary d-flex justify-content-start" id="botonBlanco"
                          (click)="mostrarModalInscribirse(evento._id)">Inscribirse</button>
                        <p class="text-start m-2 detalles" [routerLink]="['/detalles', evento._id]">Ver
                          detalles</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-6 col-lg-4" *ngFor="let evento of eventosPaginaActualEventosCreados" id="eventoCard">                    
                    <div class="card text-center" id="imagenCine">
                      <div class="card-header">
                        <h3>{{evento.categoria}}</h3>
                      </div>
                      <div class="card-body">
                        <h4 class="card-title text-start">{{evento.titulo}}</h4>
                        <p class="text-start m-2 detalles" [routerLink]="['/detalles', evento._id]">Ver
                          detalles</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div *ngIf="listaEventosFiltrada.length === 0 && eventosCreados.length === 0  && listaEventosInscritos.length === 0 && mostrarContenidoInscrito">
                    <h3>No te has inscrito a ningun evento aún.</h3>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4" *ngFor="let evento of eventosPaginaActualInscritos" id="eventoCard">
                    <div class="card text-center" id="imagenCine">
                      <div class="card-header">
                        <h3>{{evento.categoria}}</h3>
                      </div>
                      <div class="card-body">
                        <h4 class="card-title text-start">{{evento.titulo}}</h4>
                        <button class="btn btn-primary d-flex justify-content-start" id="botonBlanco"
                          (click)="mostrarModalDesincribirse(evento._id)">Desinscribirse</button>
                        <p class="text-start m-2 detalles" [routerLink]="['/detalles', evento._id]">Ver
                          detalles</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row m-3" *ngIf="mostrarDiv !== false">
                  <div class="col d-flex justify-content-center">
                    <button class="btn botonNext" (click)="paginaAnterior()" [disabled]="paginaActual === 1"><span
                        aria-hidden="true">&laquo;</span></button>
                    <ng-container *ngFor="let pagina of paginasTotales">
                      <button class="btn botonPaginas" (click)="irAPagina(pagina)"
                        [disabled]="pagina === paginaActual">{{ pagina }}</button>
                    </ng-container>
                    <button class="btn botonNext" (click)="siguientePagina()"
                      [disabled]="paginaActual === totalPaginas"><span aria-hidden="true">&raquo;</span></button>
                  </div>
                </div>
                <div class="row m-3" *ngIf="mostrarDivInscritos!== false">
                  <div class="col d-flex justify-content-center">
                    <button class="btn botonNext" (click)="paginaAnterior()" [disabled]="paginaActual === 1"><span
                        aria-hidden="true">&laquo;</span></button>
                    <ng-container *ngFor="let pagina of paginasTotalesInscritos">
                      <button class="btn botonPaginas" (click)="irAPaginaInscritos(pagina)"
                        [disabled]="pagina === paginaActual">{{ pagina }}</button>
                    </ng-container>
                    <button class="btn botonNext" (click)="siguientePagina()"
                      [disabled]="paginaActual === totalPaginas"><span aria-hidden="true">&raquo;</span></button>
                  </div>
                </div>
                <div class="row m-3" *ngIf="mostrarDivCreados!== false">
                  <div class="col d-flex justify-content-center">
                    <button class="btn botonNext" (click)="paginaAnterior()" [disabled]="paginaActual === 1"><span
                        aria-hidden="true">&laquo;</span></button>
                    <ng-container *ngFor="let pagina of paginasTotalesEventosCreados">
                      <button class="btn botonPaginas" (click)="irAPaginaEventosCreados(pagina)"
                        [disabled]="pagina === paginaActual">{{ pagina }}</button>
                    </ng-container>
                    <button class="btn botonNext" (click)="siguientePagina()"
                      [disabled]="paginaActual === totalPaginas"><span aria-hidden="true">&raquo;</span></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
