#estiloSideBar{
    width: 100%;
    margin: 2%;
    background-color: #FF4A4A;
}

#eventos{
    background-color: #B73232;
}

#misEventosEeventos{
    color: white;
    font-size: 120%;
}

#categorias{
    color: white;
}

#categorias:hover{
    color: black;
}

.backgroundGris{
    background-color: #363636;
}

h1{
    font-weight: bolder;
}
hr{
    margin: auto;
    width: 50%;
    border: 3px solid black;
    color: black;
}

.card{
    border: 5px solid black;
    margin-bottom: 20px;
    color: white;
    font-weight: bolder;
}

span{
    color: red;
}

.modal-body{
    margin: 4%;
    color: #363636;
}

.card-header{
    background-color: #B73232;
}

.detalles:hover{
    cursor: pointer;
}

#botonBlanco{
    border: 3px solid black;
    border-radius: 5px;
    background-color: white ;
    color: black;
    font-weight: bolder;
    transition: transform 0.3s ease-in-out;
    margin-right: 2%;
    margin-left: 2%;
}

#aplicarAnimacion{
    font-weight: bolder;
    transition: transform 0.3s ease-in-out;
    border-radius: 5px;
    margin-right: 2%;
    margin-left: 2%;
}

#botonBlanco:hover, #aplicarAnimacion:hover{
      transform: scale(1.3);
}
#margenTop{
    margin-top: 30px;
}

#eventoCard{
    width: 50%;
}

#imagenCine{
    background-image: url('../../../assets/img/man-g7ab3ac403_1280.jpg');
    background-size: cover;
    background-position: center;
}

#imagenOcio{
    background-image: url('../../../assets/img/man-gb68512a41_1280.jpg');
    background-size: cover;
    background-position: center;
}

#imagenFiesta{
    background-image: url('../../../assets/img/donations-keeps-me-going-g8237e311e_1280.jpg');
    background-size: cover;
    background-position: center;
}

#imagenCelebracion{
    background-image: url('../../../assets/img/happy-birthday-g7d78466e6_1280.jpg');
    background-size: cover;
    background-position: center;
}

#contenidoModal{
    text-decoration: underline;
    color: #B73232;
}

h4{
    margin-bottom: 20%;
}

h6{
    color: white; 
    font-weight: bolder;
}

a:hover{
    cursor: pointer;
}

.modal-header{
    background-color: #B73232;
}

.botonNext{
    background-color: #363636;
    color: white;
}

.botonPaginas{
    background-color: #B73232;
    color: white;
}