<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <img src="../../../assets/img/stairs-gf8ff77dc1_1280.jpg" id="ImagenRegistro" alt="Imagen fondo registro">
    </div>
    <div class="col-md-7 mt-4 mb-4 p-4" id="registro">
      <h3 class="border-bottom pb-4 mb-3" style="color: white">Registrarse</h3>
      <div class="p-5">
        <form [formGroup]="formulario" (ngSubmit)="signUp()" novalidate>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nombre y apellidos</label>
            <div class="input-group">
              <span class="input-group-text"><i class="bi bi-person"></i></span>
              <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="nombreApellidos"
                [(ngModel)]="user.nombreApellidos" placeholder="Nombre y apellidos">
            </div>
            <div *ngIf="formulario.get('nombreApellidos')?.errors && formulario.get('nombreApellidos')?.touched">
              <p class="errorValidacion m-3" *ngIf="formulario.get('nombreApellidos')?.hasError('required')">
                El campo es requerido</p>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput2" class="form-label">Contraseña</label>
            <div class="input-group">
              <span class="input-group-text"><i class="bi bi-eye-slash"></i></span>
              <input type="password" class="form-control" id="exampleFormControlInput2" formControlName="password"
                [(ngModel)]="user.password" placeholder="Contraseña">
            </div>
            <div *ngIf="formulario.get('password')?.errors && formulario.get('password')?.touched">
              <p class="errorValidacion m-3" *ngIf="formulario.get('password')?.hasError('required')">El campo
                es requerido</p>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput3" class="form-label">Fecha de nacimiento</label>
            <div class="input-group">
              <span class="input-group-text"><i class="bi bi-calendar-date"></i></span>
              <input type="date" class="form-control" id="exampleFormControlInput3" formControlName="fechaNacimiento"
                [(ngModel)]="user.fechaNacimiento" placeholder="Fecha de nacimiento">
            </div>
            <div *ngIf="formulario.get('fechaNacimiento')?.errors && formulario.get('fechaNacimiento')?.touched">
              <p class="errorValidacion m-3" *ngIf="formulario.get('fechaNacimiento')?.hasError('required')">
                El campo es requerido</p>
            </div>
            <div *ngIf="formulario.get('fechaNacimiento')?.errors && formulario.get('fechaNacimiento')?.dirty">
              <p class="errorValidacion m-3">Debes ser mayor de edad</p>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput4" class="form-label">Localidad</label>
            <div class="input-group">
              <span class="input-group-text"><i class="bi bi-geo-alt"></i></span>
              <input type="text" class="form-control" id="exampleFormControlInput4" formControlName="localidad"
                [(ngModel)]="user.localidad" placeholder="Localidad">
            </div>
            <div *ngIf="formulario.get('localidad')?.errors && formulario.get('localidad')?.touched">
              <p class="errorValidacion m-3" *ngIf="formulario.get('localidad')?.hasError('required')">
                El campo es requerido</p>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput5" class="form-label">Correo electrónico</label>
            <div class="input-group">
              <span class="input-group-text"><i class="bi bi-envelope"></i></span>
              <input type="email" class="form-control" id="exampleFormControlInput5" formControlName="email"
                [(ngModel)]="user.email" placeholder="name@example.com">
            </div>
            <div *ngIf="formulario.get('email')?.errors && formulario.get('email')?.touched">
              <p class="errorValidacion m-3" *ngIf="formulario.get('email')?.hasError('required')">El campo es
                requerido</p>
              <p class="errorValidacion m-3" *ngIf="formulario.get('email')?.hasError('email')">El formato del
                correo electrónico es incorrecto</p>
            </div>
            <p *ngIf="mensajeErrorCorreo" class="errorValidacion m-3">{{mensajeErrorCorreo}}</p>
          </div>
          <br>
          <div class="d-flex justify-content-end">
            <button type="submit" [disabled]="formulario.invalid"
              class="btn btn-primary d-flex justify-content-end">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
