#registro{
    background-color: #333333;
    color: white;
}

#ImagenRegistro{
    height: 960px;
}

@media (max-width: 767px) {
    img {
      display: none;
    }
  }

.errorValidacion{
  color: #dc3545;
}
